{% load static %}
{% load price_filters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeStay • HomesTayBac</title>
    <link rel="stylesheet" href="{% static 'myapp/css/product.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
        integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <style>   
            .toast {
                position: fixed;
                top: 20px; /* Hiển thị ở trên cùng */
                left: 50%;
                transform: translateX(-50%); /* Đẩy sang giữa */
                padding: 10px;
                background-color: #ffffff; /* Màu nền trắng cho thông báo */
                color: #333; /* Màu chữ */
                border-radius: 5px;
                opacity: 0; /* Ban đầu ẩn */
                visibility: hidden; /* Không hiển thị */
                transition: opacity 0.5s, visibility 0.5s, transform 0.3s ease-in-out; /* Hiệu ứng mờ dần và mở rộng */
                z-index: 1050; /* Đảm bảo nó ở trên các phần tử khác */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng nhẹ cho toast */
                border: 1px solid #28a745; /* Viền màu xanh lá cây */
                transform: translateX(-50%) scale(0.9); /* Bắt đầu nhỏ hơn và sẽ phóng to */
            }
            
            .toast.show {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) scale(1); /* Phóng to */
            }
            
            /* Tiêu đề Toast */
            .toast-title {
                background-color: #7FC142; /* Nền xanh lá cây cho tiêu đề */
                color: white; /* Chữ màu trắng */
                padding: 5px 5px;
            /*            border-radius: 5px 5px 0 0; *//* Cạnh trên tròn */
                font-weight: bold;
            }
            
            .toast-body {
                padding: 10px;
            }
            
            /* CSS cho nút đóng Toast */
            .toast-close {
                position: absolute;
                top: 5px;
                right: 5px;
                color: #696969;
                background: transparent;
                border: none;
                font-size: 16px;
                cursor: pointer;
            }
            
            .toast-close:hover {
                color: #dc3545; /* Màu đỏ khi hover */
            }
            body {
            margin: 0; /* Xóa khoảng trắng mặc định */
            padding: 0;
            font-family: Arial, sans-serif; /* Tùy chọn font */
        }

        .container {
            max-width: 1200px; /* Chiều rộng tối đa của nội dung */
            margin: 0 auto; /* Căn giữa nội dung theo chiều ngang */
            padding: 20px; /* Thêm khoảng cách bên trong */
/*            background-color: #f9f9f9; *//* Tùy chọn màu nền */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
        }
            
        </style>
</head>

<body>
    <div id="toast" class="toast">
        <div class="toast-title">Thông Báo</div>
        <div class="toast-body">
            <p id="toast-message"></p>
            <button class="toast-close" onclick="closeToast()">×</button>
        </div>
    </div>
    
    <script>
        // JavaScript để hiển thị Toast
        function showToast(message) {
            const toast = document.getElementById('toast');
            document.getElementById('toast-message').textContent = message;
    
            // Thêm lớp 'show' để hiển thị Toast
            toast.classList.add('show');
    
            // Ẩn Toast sau 5 giây
            setTimeout(function() {
                toast.classList.remove('show');
            }, 5000); // 5000ms = 5 giây
        }
    
        // Đóng Toast khi click vào nút "×"
        function closeToast() {
            const toast = document.getElementById('toast');
            toast.classList.remove('show');
        }
    
        // Kiểm tra và hiển thị thông báo khi trang tải
        {% if error_message %}
            showToast("{{ error_message }}");
        {% endif %}
    </script>
    <header>
        <div class="logo">
            <a href="/"><img src="{% static 'myapp/img/logo.jpeg' %}"></a> <!--back về home-->
        </div>

        <div class="navlinks">
            <ul id="menulist">
                <li><a href="/" class="link-underline link-underline-opacity-0">Trang chủ</a></li> <!--url đến home-->
                <li><a href="#Dịch Vụ" class="link-underline link-underline-opacity-0">Dịch vụ</a></li> <!--url xuống dịch vụ-->
                <li><a href="#homestay" class="link-underline link-underline-opacity-0">Homestay</a></li> <!--url xuống danh sách homestay-->
                <li><a href="#Liên Hệ" class="link-underline link-underline-opacity-0">Liên hệ</a></li> <!--url xuống liên hệ-->
                <li><a href="#Feedback" class="link-underline link-underline-opacity-0">Phản hồi</a></li> <!--url đến trang phản hồi-->
                <li id="user-action"></li>
            </ul>
            <span id="listbars" class="fa fa-bars" onclick="menutoggle()"></span>
        </div>
    </header>
    <script>
        let isLoggedIn = {{ request.session.isLoggedIn|yesno:"true,false" }}; // Lấy trạng thái đăng nhập từ session
        const userName = "{{ request.session.first_name|default:'' }}"; // Lấy tên người dùng từ session

        function updateUserAction() {
            const userActionDiv = document.getElementById("user-action");
            console.log(userActionDiv);
            if (isLoggedIn) {
                userActionDiv.innerHTML =
                `
                <div show-info onclick="showInfo()" class="navlinks">
                    <span class="user" onclick="usertoggle()">Chào, ${userName}</span>
                    <ul show-ul class="d-none" id="userlist">
                        <li><a href="/profile">Thông tin tài khoản</a></li>    <!--url trang profile-->
                        <li><a href="#">Lịch sử đặt phòng</a></li>      <!--url trang history-->
                        <li><a href="#" onclick="logout()">Đăng xuất</a></li> <!-- thoát trạng thái đăng nhập-->
                    </ul>
                </div>
                `;
            } else {
                userActionDiv.innerHTML = `<a href="{% url 'login' %}"><button class="primary-btn">Đăng nhập</button></a>`; // url đến trang đăng nhập
            }
        }

        function login() {
            isLoggedIn = true; // Cập nhật trạng thái đăng nhập
            updateUserAction(); // Cập nhật lại giao diện
        }

        function logout() {
            isLoggedIn = false; // Cập nhật trạng thái đăng xuất
            updateUserAction(); // Cập nhật lại giao diện
        }

        // Gọi hàm để cập nhật giao diện khi trang được tải
        document.addEventListener("DOMContentLoaded", updateUserAction);
    </script>
    <script>
        var Menulist = document.getElementsByClassName("navlinks");
        // menulist.style.maxHeight = "0px";
        function menutoggle() {
            if (menulist.style.maxHeight == "0px") {
                menulist.style.maxHeight = "60vh";
            } else {
                menulist.style.maxHeight = "0px";
            }
        }
        
        let shown = false;
        const showInfor = document.querySelector('[show-info]');
        console.log(showInfor);
        const showUl = showInfor.querySelector(`[show-ul]`);
        console.log(showUl);
        function showInfo() {
           
            if(shown){
                showUl.classList.remove('d-block');
                showUl.classList.add("d-none");
                // const userName = showInfor.querySelector(`.user`);
                shown = false;
            }
            else{
                showUl.classList.remove('d-none');
                showUl.classList.add("d-block");
                const userName = showInfor.querySelector(`.user`);
                // console.log(userName);
                // userName.classList.add("d-none");
                shown = true;
            }
            
        }
        function usertoggle() {
            const userlist = document.getElementById("userlist");
            userlist.classList.toggle("d-none");
            userlist.classList.toggle("d-block");
        }
    </script>

<main class="container my-5">
    <form action="{% url 'booking_manager:booking' %}" method="GET">
    <div class="row">
        <div class="col-lg-7">
            <!--Hình ảnh sản phẩm-->
            <div class="image-gallery mb-4">
                <img src="{{ homestay.image.url|default:'/static/myapp/img/default.jpg' }}" alt="{{ homestay.name }}" class="img-fluid" style="width: 100%; max-height: 500px; object-fit: cover;" onclick="openModal(this.src)">
                {% comment %} <img src="{% static 'myapp/img/homestay4.jpg' %}" class="img-fluid" alt="Phòng lớn homestay" style="width: 100%; max-height: 500px; object-fit: cover;" onclick="openModal(this.src)"> {% endcomment %}
            </div>
            <div class="image-thumbnails d-flex gap-2">
                {% for homestay_room in homestay_rooms %}
                    <img src="{{ homestay_room.image.url|default:'/static/myapp/img/default_room.jpg' }}" 
                        class="img-thumbnail" 
                        style="width: 100px; height: 100px;" 
                        onclick="openModal(this.src)">
                    {% endfor %}
            </div>

            <!-- model phóng to hình ảnh khi click vào -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img id="modalImage" src="" class="img-fluid" alt="Phóng to hình ảnh">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Hàm mở modal và hiển thị hình ảnh
                function openModal(imageSrc) {
                    var modalImage = document.getElementById('modalImage');
                    modalImage.src = imageSrc; // Đặt src của hình ảnh trong modal bằng src của hình ảnh bấm vào
                    var modal = new bootstrap.Modal(document.getElementById('imageModal'));
                    modal.show();
                }
            </script>
        </div>
        
        <div class="col-lg-5 homestay-info container-flex">
            

            <div class="date-picker">
                <label for="checkin-date">Ngày nhận phòng</label><br>
                <input type="date" required  name="checkin_date" value="{{ checkin_date|default:''}}">
                <i class="fa fa-calendar"></i>
            </div>
            
            <div class="date-picker">
                <label for="checkout-date">Ngày trả phòng</label><br>
                <input type="date" required  name="checkout_date" value="{{ checkout_date|default:''}}">
                <i class="fa fa-calendar"></i>
            </div>

            <h2 class="card-title">{{ homestay.name }}</h2>
            <p class="text-muted">Địa chỉ: {{ homestay.address }}</p>
            <p class="text-muted">{{ homestay.description }}</p>
            <h4 class="mt-4">Giá</h4>
            <b style="font-size: 30px;">{{ homestay.price|format_price }} / đêm</b><br>
            
                {% csrf_token %}
                <input type="hidden"style="display:none;" name="id" value="{{ homestay.id }}"/>
                {% comment %} <input type="date" style="display:none;" name="checkin_date"value="{{ checkin_date|default:'' }}">
                <input type="date" style="display:none;" name="checkout_date"value="{{ checkout_date|default:'' }}"> {% endcomment %}
                <button type="submit" class="btn btn-primary">Đặt ngay</button>
        </div>     
    </div>
    </form>
    <div>
        <h4><strong>Tiện nghi:</strong></h4>
        <ul class="list-unstyled">
            {% for facility in facilities %}
                <li><i class="fas fa-check-circle"></i> {{ facility.name }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <h2 class="my-4"><strong>Thông tin chi tiết:</strong></h2>
        <table class=" table table-bordered ">
            <thead>
                <tr>
                    <th style="width:30%"></th>
                    <th style="width:15%">Loại Phòng</th>
                    <th style="width:10%">Số Lượng</th>
                    <th style="width:40%">Mô Tả Phòng</th>
                </tr>
            </thead>
            <tbody id="roomTable">
                {% for homestay_room in homestay_rooms %}
                    <tr>
                        <!-- Cột 1: Ảnh phòng -->
                        <td>
                            <img src="{{ homestay_room.image.url|default:'/static/myapp/img/default_room.jpg' }}" 
                                 class="img-thumbnail" 
                                 alt="Room: {{ homestay_room.room.name }}" 
                                 style="width: 200px; height: 200px;" 
                                 onclick="openModal(this.src)">
                        </td>
                        <!-- Cột 2: Tên phòng (Loại phòng) -->
                        <td>{{ homestay_room.room.name }}</td>
                        <!-- Cột 3: Số lượng -->
                        <td>{{ homestay_room.quantity }}</td>
                        <!-- Cột 4: Miêu tả phòng -->
                        <td>{{ homestay_room.descriptions }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
                                                                                                                 <!--kết nối database-->
    <script>                                                                           
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/api/rooms/')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('roomTable');
                    data.forEach(room => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td><img src="${room.image}" alt="Ảnh Phòng" style="width: 100%; height: auto;"></td>
                            <td>${room.room_type}</td>
                            <td>${room.quantity}</td>
                            <td>${room.description}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching room data:', error));
        });
    </script>
    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
        <span class="close-btn" onclick="closePopup()">×</span>
        <p id="popup-message"></p>
    </div>

    <!-- Django Messages -->
    {% if messages %}
        <script>
            window.onload = function() {
                var message = "{{ messages.0 }}";// Lấy thông điệp đầu tiên từ messages
                if (message) {
                    // Hiển thị popup
                    document.getElementById('popup').style.display = 'block';
                    document.getElementById('overlay').style.display = 'block';
                    document.getElementById('popup-message').innerText = message;
                }
            };

            function closePopup() {
                document.getElementById('popup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
            }
        </script>
    {% endif %}

    <hr>
    <section class="services">
        <h2 class="mb-4">Dịch vụ</h2>
        <div class="heading">
            <p>Homestay không chỉ là nơi lưu trú mà còn là một trải nghiệm tuyệt vời giúp du khách hòa mình vào cuộc
                sống và văn hóa bản địa. Với phương châm mang đến sự ấm áp như ở nhà, chúng tôi cung cấp các dịch vụ
                đa dạng nhằm đáp ứng mọi nhu cầu của bạn trong suốt kỳ nghỉ.</p>
        </div>

        <div class="content flex_space">
            <div class="row row g-4">
                <div class="col-md-3 text-center">
                    <div class="box">
                        <i class="fa-solid fa-champagne-glasses fa-2x mb-2"><a href = "#"></a></i> <!--url dịch vụ cầu hôn-->
                        <h5>Cầu hôn</h5>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="box">
                        <i class="fa-solid fa-person-biking fa-2x mb-2"><a href = "#"></a></i> <!--url dịch vụ thể thao-->
                        <h5>Thể thao</h5>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="box">
                        <i class="fa-solid fa-utensils fa-2x mb-2"><a href = "#"></a></i> <!--url dịch vụ nhà hàng-->
                        <h5>Nhà hàng</h5>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="box">
                        <i class="fa-solid fa-spa fa-2x mb-2"><a href = "#"></a></i> <!--url dịch vụ spa-->
                        <h5>Spa</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

    <footer>
        <div class="container-footer">
            <div class="box">
                <img src="{% static 'myapp/img/background2.jpg' %}" alt="">
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
            <div class="box">
                <h2>GIỚI THIỆU</h2>
                <a href="#">Trang chủ</a><br>
                <a href="#">Dịch vụ</a><br>
                <a href="#">Tin tức</a><br>
                <a href="#">Liên hệ</a><br>
            </div>
            <div class="box">
                <h2>LIÊN KẾT</h2>
                <a href="#">Điều khoản sử dụng</a><br>
                <a href="#">Chính sách bảo mật</a><br>
                <a href="#">Chính sách hoàn tiền</a><br>
                <a href="#">FAQs</a>
            </div>
            <div class="box">
                <h2>LIÊN HỆ</h2>
                <i class="fa fa-location-dot"></i>
                <label>30 Tran Phu, Ha Dong, Ha Noi, Viet Nam</label><br>
                <i class="fa fa-phone"></i>
                <label>0987352163</label><br>
                <i class="fa fa-envelope"></i>
                <label>nhan54v@gmail.com</label><br>
            </div>
        </div>
    </footer>
</body>
</html>
