{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/search.css' %}">
    <script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <title>Tìm kiếm • HomesTayBac</title>
</head>
<body>
    <header>

        <div class="logo">
            <a href="/"><img src="{% static 'myapp/img/logo.jpeg' %}"></a> <!--back về home-->
        </div>

        <div class="navlinks">
            <ul id="menulist">
                <li><a href="" class="link-underline link-underline-opacity-0">Trang chủ</a></li> <!--url đến home-->
                <li><a href="#Dịch Vụ" class="link-underline link-underline-opacity-0">Dịch vụ</a></li> <!--url xuống dịch vụ-->
                <li><a href="#homestay" class="link-underline link-underline-opacity-0">Homestay</a></li> <!--url xuống danh sách homestay-->
                <li><a href="#Liên Hệ" class="link-underline link-underline-opacity-0">Liên hệ</a></li> <!--url xuống liên hệ-->
                <li><a href="#Feedback" class="link-underline link-underline-opacity-0">Phản hồi</a></li> <!--url đến trang phản hồi-->
                <li id="user-action"></li>
            </ul>
            <span id="listbars" class="fa fa-bars" onclick="menutoggle()"></span>
        </div>
    
</header>
<script>
    let isLoggedIn = false; // thêm phương thức kiểm tra trạng thái đăng nhập
    const userName = "Nguyễn Văn A";

    function updateUserAction() {
        const userActionDiv = document.getElementById("user-action");
        console.log(userActionDiv);
        if (isLoggedIn) {
            userActionDiv.innerHTML =
            `
            <div show-info onclick="showInfo()" class="navlinks">
                <span class="user" onclick="usertoggle()">Chào, ${userName}</span>
                <ul show-ul class="d-none" id="userlist">
                    <li><a href="#">Thông tin tài khoản</a></li>    <!--url trang profile-->
                    <li><a href="#">Lịch sử đặt phòng</a></li>      <!--url trang history-->
                    <li><a href="#" onclick="logout()">Đăng xuất</a></li> <!-- thoát trạng thái đăng nhập-->
                </ul>
            </div>
            `;                                                      //url trang profile
                                                                    // url trang history
                                                                    // thoát trạng thái đăng nhập
        } else {
            userActionDiv.innerHTML = `<a href="{% url 'login' %}"><button class="primary-btn">Đăng nhập</button></a>`; // url đến trang đăng nhập
        }
    }

    function logout() {
        isLoggedIn = false;
        updateUserAction(); 
    }
    updateUserAction();
</script>
<script>
    var Menulist = document.getElementsByClassName("navlinks");
    // menulist.style.maxHeight = "0px";
    function menutoggle() {
        if (menulist.style.maxHeight == "0px") {
            menulist.style.maxHeight = "60vh";
        } else {
            menulist.style.maxHeight = "0px";
        }
    }
    
    let shown = false;
    const showInfor = document.querySelector('[show-info]');
    console.log(showInfor);
    const showUl = showInfor.querySelector(`[show-ul]`);
    console.log(showUl);
    function showInfo() {
       
        if(shown){
            showUl.classList.remove('d-block');
            showUl.classList.add("d-none");
            // const userName = showInfor.querySelector(`.user`);
            shown = false;
        }
        else{
            showUl.classList.remove('d-none');
            showUl.classList.add("d-block");
            const userName = showInfor.querySelector(`.user`);
            // console.log(userName);
            // userName.classList.add("d-none");
            shown = true;
        }
        
    }
</script>
<div class="container">
    <!-- Bộ lọc -->
    <form action="/search" method="GET" id="filterForm">
    

        <div class="filters">
            <div class="search-box">
                <h2>Tìm</h2>
                <label for="destination">Tên chỗ nghỉ / điểm đến:</label>
                <div class="search-input">
                    <input type="text" id="destination" placeholder="Địa điểm">
                    <i class="fa fa-search"></i>
                </div>
                <label for="checkin-date">Ngày nhận phòng</label>
                <div class="date-picker">
                    <input type="date" id="checkin-date">
                    <i class="fa fa-calendar"></i>
                </div>
                <label for="checkout-date">Ngày trả phòng</label>
                <div class="date-picker">
                    <input type="date" id="checkout-date">
                    <i class="fa fa-calendar"></i>
                </div>
                <label for="guest-info">Nghỉ 1 đêm</label>
                <select id="guest-info">
                    <option>1 người lớn · 0 trẻ em · 1 phòng</option>
                    <option>2 người lớn · 0 trẻ em · 1 phòng</option>
                    <!-- Thêm các tuỳ chọn khác nếu cần -->
                </select>
                <button type="submit" class="search-button">Tìm</button>
            </div>
            
            <h2>Bộ lọc theo:</h2>
            
            <!-- Đánh giá -->
            <div class="filter-group">
                <h3>Đánh giá</h3>
                <label><input type="checkbox" name="ratings" value="5" {% if '5' in selected_ratings %}checked{% endif %}> 5 sao</label><br>
                <label><input type="checkbox" name="ratings" value="4" {% if '4' in selected_ratings %}checked{% endif %}> 4 sao</label><br>
                <label><input type="checkbox" name="ratings" value="3" {% if '3' in selected_ratings %}checked{% endif %}> 3 sao</label><br>
                <label><input type="checkbox" name="ratings" value="2" {% if '2' in selected_ratings %}checked{% endif %}> 2 sao</label><br>
                <label><input type="checkbox" name="ratings" value="1" {% if '1' in selected_ratings %}checked{% endif %}> 1 sao</label>
            </div>
            <!-- Giá tiền -->
            <div class="filter-group">
                <h3>Giá tiền</h3>
                <label><input type="checkbox" name="prices" value="200" {% if '200' in selected_prices %}checked{% endif %}> 200k/1 đêm</label><br>
                <label><input type="checkbox" name="prices" value="300" {% if '300' in selected_prices %}checked{% endif %}> 300k/1 đêm</label><br>
                <label><input type="checkbox" name="prices" value="400" {% if '400' in selected_prices %}checked{% endif %}> 400k/1 đêm</label><br>
                <label><input type="checkbox" name="prices" value="500" {% if '500' in selected_prices %}checked{% endif %}> 500k/1 đêm</label><br>
                <label><input type="checkbox" name="prices" value="600" {% if '600' in selected_prices %}checked{% endif %}> 600k/1 đêm</label>
            </div>
            <!-- Hoạt động giải trí -->
            <div class="filter-group">
                <h3>Tiện nghi</h3>
                <label><input type="checkbox" name="homefacilities" value="1" {% if '1' in selected_homefacilities %}checked{% endif %}> Chỗ đỗ xe</label><br>
                <label><input type="checkbox" name="homefacilities" value="2" {% if '2' in selected_homefacilities %}checked{% endif %}> Cho phép vật nuôi</label><br>
                <label><input type="checkbox" name="homefacilities" value="3" {% if '3' in selected_homefacilities %}checked{% endif %}> Cho thuê xe máy/ xe đạp</label><br>
                <label><input type="checkbox" name="homefacilities" value="4" {% if '4' in selected_homefacilities %}checked{% endif %}> Hồ bơi</label><br>
                <label><input type="checkbox" name="homefacilities" value="5" {% if '5' in selected_homefacilities %}checked{% endif %}> Lễ tân 24 giờ</label><br>
                <label><input type="checkbox" name="homefacilities" value="6" {% if '6' in selected_homefacilities %}checked{% endif %}> Phòng xông hơi</label><br>
                <label><input type="checkbox" name="homefacilities" value="7" {% if '7' in selected_homefacilities %}checked{% endif %}> Sân chơi trẻ em</label><br>
                <label><input type="checkbox" name="homefacilities" value="8" {% if '8' in selected_homefacilities %}checked{% endif %}> Trạm sạc xe điện</label><br>
                <label><input type="checkbox" name="homefacilities" value="9" {% if '9' in selected_homefacilities %}checked{% endif %}> Trung tâm spa, massage</label><br>
                <label><input type="checkbox" name="homefacilities" value="10" {% if '10' in selected_homefacilities %}checked{% endif %}> Trung tâm thể dục, gym</label><br>
                <label><input type="checkbox" name="homefacilities" value="11" {% if '11' in selected_homefacilities %}checked{% endif %}> Wifi miễn phí</label><br>
            </div>
            <!-- Nút áp dụng bộ lọc -->
            <button type="submit" class="filter-button">Áp dụng bộ lọc</button>
        </div>
    </form>  


    
    



    <!-- Kết quả tìm kiếm -->
    <div class="search-results">
        <!-- Kết quả tìm kiếm sẽ hiển thị ở đây -->
        <!-- homestays: một list kết quả tìm kiếm đựơc backend trả về -->

        <div class="search-price">
            <h3>Sắp xếp:</h3>
            <select id="price-sort" onchange="sortHomestays()">
                <option value="asc" {% if current_sort == 'asc' %}selected{% endif %}>Giá tăng dần</option>
                <option value="desc" {% if current_sort == 'desc' %}selected{% endif %}>Giá giảm dần</option>
            </select>
        </div>
        
        <script>
            function sortHomestays() {
                let sortOption = document.getElementById("price-sort").value;
                let currentUrl = window.location.href.split('?')[0];
                window.location.href = currentUrl + "?sort=" + sortOption;
            }
        </script>
        
      
        <div id="results">
        {% if homestays %}
            <div class="row">
                {% for homestay in homestays %} <!--Duyệt list-->
                    <div class="item">
                        <div class="img">
                            <img src="{% static 'myapp/img/homestay1.jpg' %}" alt="Homestay 1">
                        </div>
                        <div class="info">
                            <h2 class="card-title">{{ homestay.name }}</h2>
                            <div class="star-rating"> 
                                {% comment %} {% for i in homestay.rate %}
                                    <span class="star">★</span>
                                {% endfor %} {% endcomment %}
                            </div>
                            <h3>Giá: {{ homestay.price }}k</h3>
                            <p>Nằm cách Trạm cáp treo Fansipan 4.5 km, Homestay 1 cung cấp chỗ nghỉ có khu vườn, sân hiên và dịch vụ phòng. Homestay có WiFi và chỗ đậu xe riêng miễn phí.</p>
                        </div>
                        <form action="{% url 'product' homestay.id %}" method="GET">
                            <button class="book-button">Đặt phòng</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="alert alert-warning">Không tìm thấy kết quả phù hợp</p>
        {% endif %}

    </div> 



    </div> 
</div> 

        </div>
    </div> 
</div>


<script>
    function performSearch() {
        // Implement search logic here
        alert("Search functionality is not yet implemented.");
    }
</script>



<footer>
    <div class="container grid">
        <div class="box">
            <img src="{% static 'myapp/img/homestay1.jpeg' %}" alt="">
            <div class="icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <div class="box">
            <h2>GIỚI THIỆU</h2>
            <a href="#">Trang chủ</a><br>
            <a href="#">Dịch vụ</a><br>
            <a href="#">Tin tức</a><br>
            <a href="#">Liên hệ</a><br>
        </div>
        <div class="box">
            <h2>LIÊN KẾT</h2>
            <a href="#">Điều khoản sử dụng</a><br>
            <a href="#">Chính sách bảo mật</a><br>
            <a href="#">Chính sách hoàn tiền</a><br>
            <a href="#">FAQs</a>
        </div>
        <div class="box">
            <h2>LIÊN HỆ</h2>
            <div class = "flex">
                <i class="fa fa-location-dot"></i>
                <p>30 Tran Phu, Ha Dong, Ha Noi, Viet Nam</p>
            </div>
            <div class = "flex">
                <i class="fa fa-phone"></i>
                <p>0987352163</p>
            </div>
            <div class = "flex">
                <i class="fa fa-envelope"></i>
                <p>nhan54v@gmail.com</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>