* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-btn {
    width: 100px;
    text-align: center;
    background-color: #7fc142ed; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Xóa viền */
    border-radius: 5px;
}
.custom-btn:hover {
    background-color: #67a32f; /* Màu khi hover */
}

body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2{
    font-family: sans-serif;
    font-weight: 400;
}
a{

    text-decoration: none;
}
.img{
    object-fit: cover;
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.flex_space{
    display: flex;
    justify-content: space-between;
}

.primary-btn{
    padding: 15px 40px;
    background: #7fc142ed;
    font-weight: bold;
    color: white;
}
.primary-btn:hover{
    background: #67a32f;
}
.secondary-btn{
    padding: 15px 40px;
    background: none;
    font-weight: bold;
    color:white;
}
.secondary-btn:hover{
    border: soild black;
}

.container{
    max-width: 85%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    background-color: #90b99042;
    padding: 10px 20px;
}

header img{
    max-width: 200px;
    max-height: 9vh;
}
header ul{
    display: flex;
    align-items: center;
}
header ul li{
    display: inline-block;
    text-transform: uppercase;
}
header ul li a{
    color: #000;
    margin: 0 10px;
    transition: 0.5s;
}
header ul li a:hover{
    color: #7fc142;
}
header i{
    margin: 0 20px;
}
header button{
    padding: 13px 40px;
}
header .navlinks #listbars{
    display: none;
}
.user{
    color:#00b312;
    text-decoration:underline;
    font-weight: bold;
}
.d-none {
    display: none;
}
.d-block {
    a{
        color: white;
    }
    display: block;
    position: absolute;
    top: 110%;
    right: 20px;
    width: 20%;
    height: fit-content;
    border-radius: 10px;
    background : #01ac56e4;
    overflow : hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
    li{
        margin:10px;
    }
}
@media only screen and (max-width: 850px){
    .d-none{
        display: block;
    }
    .d-block{
        display:block;
    }
    header .user{
        color:white
    }
    header ul{
        display: block;
        position: absolute;
        top: 10vh;
        right:10px;
        width: fit-content;
        height: fit-content;
        background : #009f7f;
        overflow : hidden;
        transition: max-height 0.5s;
        text-align: center;
        z-index: 9;
    }
    header ul li{
        display:block;
        margin:10px;
    }
    header ul li a{
        color: white;
    }
    header i{
        color:white;
    }
    header .navlinks #listbars{
        color:black;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    }
}
.general-info {
    background-color: #b1fb6b93;
    padding: 20px;
}
.info-box, .summary-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

.regulations{
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}
.payment button{
    padding: 15px 40px;
    background: #7fc142ed;
    font-weight: bold;
    color: white;
    border : 1px;
}
  /* Modal Background */
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Màu nền tối */
    justify-content: center;
    align-items: center;
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
}
  
  /* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
  
  /* Modal Image */
.modal-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
  
  /* Modal Caption */
.modal-caption {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
  




footer{
    background: #282834;
    color: #b6b7b9;
    padding-top: 30px;
}
footer p{
    color: #b6b7b9;
    font-size: 15px;
}
footer .icon i{
    margin: 20px 20px 20px 0;
    color: #b6b7b9;
}
footer i{
    color: #7fc142;
    margin: 20px 0;
    margin-right: 20px;
}
footer img{
    width: 300px;
}
footer .box h2{
    color: #7fc142;
    margin-bottom: 20px;
}
footer .box a{
    color: #b6b7b9;
    margin-bottom: 10px;
    text-decoration: none;
}

footer .box a:hover{
    color: #b6b7b9ca;
    text-decoration: underline;
}
