{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Quên mật khẩu • HomesTayBac</title>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    
    <script>
        
        let generatedOtp = "{{ otp }}";  
        
        function showOtpForm() {
            document.getElementById("forgot-password-form").style.display = "none";
            document.getElementById("otp-form").style.display = "block";
        }
        window.onload = function() {
            
            {% if otp_sent %}
                alert ("OTP have been send to your email!");
                showOtpForm();
            {% endif %}
        };

        function verifyOtp() {
            const enteredOtp = document.getElementById("otp").value;
            if (enteredOtp === generatedOtp) {
                alert("OTP xác thực thành công!");
                window.location.href = "{% url 'home' %}";
            } else {
                alert("Mã OTP không đúng. Vui lòng thử lại.");
            }
        }
    </script>
</head>
<body>
    <div class="form">
        <form action="{% url 'home' %}" method="GET" autocomplete="off">
            <button class="back">&#8592;</button>
        </form>
        <br>
        
        <div id="forgot-password-form">
            <h2>Quên mật khẩu</h2>
            <form action="{% url 'mail' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <input type="text" name="email" placeholder="Nhập email" autocomplete="off"
                       style="border-color: {% if errors.username %} red {% endif %};"/>
                <button class="submit" type="submit">Quên tài khoản</button>
                <p class="message"><a href="{% url 'login' %}">Đăng nhập</a></p>
            </form>
        </div>
        <div id="otp-form" style="display: none;">
            <h2>Nhập OTP</h2>
            <input type="text" id="otp" placeholder="Nhập mã OTP" required />
            <button class="submit" type="button" onclick="verifyOtp()">Xác nhận OTP</button>
        </div>
        
    
</body>
</html>
