{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Đăng nhập • HomesTayBac</title>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
</head>
<body>
  <div class="form">
    <!-- Sử dụng thẻ <a> để tạo liên kết quay lại trang chính -->
    <a href="{% url 'home' %}">
      
        <button class="back" type="button">&#8592</button>
    </a>
    <br>
    <h2>Đăng nhập</h2>
    
    <!-- Thêm form đăng nhập nếu cần -->
    <form action="{% url 'login' %}" method="POST" autocomplete="off">
            {% csrf_token %}  <!-- Thêm token bảo mật CSRF -->

            <input type="text" name="username" placeholder="Tên đăng nhập" autocomplete="off"/>
            <input type="password" name="password" placeholder="Mật khẩu" autocomplete="new-password"/>
            <button class = "submit" type = "submit">Đăng nhập</button>
            <p class="message">Bạn chưa có tài khoản? <a href={%url "register"%}>Tạo tài khoản</a></p> <!--url đến trang đăng kí-->
          </form>
        </div>
    </div>
</body>
</html>