html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%;
    background-image: url('/static/login/img/background2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: 0 auto;
}
.login-page h2{
    margin-top: 0px;
    font-family: 'open sans' sans-serif;
}
.form {
  position: relative;
  z-index: 1;
  opacity: 0.95;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}
.form .submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .message a:hover{
  color: #4caf4fd0;  
  text-decoration: underline;
}

.form .back{
  float: left;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  border:none;
  background-color: white;
}
.form .back:hover{
  background-color: #b3b3b34d;
}